---
title: Home
group: index
---

<!DOCTYPE html>
<html lang="en">
{% include header %}
<body>
  {% include navbar %}
  <!-- Carousel -->
  <div id="carousel-main" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-main" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-main" data-slide-to="1"></li>
      <li data-target="#carousel-main" data-slide-to="2"></li>
      <li data-target="#carousel-main" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="fill" style="background-image:url('/assets/images/dogs/mainPage/kismet_trillium.jpg');">
          <div class="container"></div>
        </div>
      </div>
      <div class="item">
        <div class="fill" style="background-image:url('/assets/images/dogs/mainPage/kismet_hug.jpg');">
          <div class="container"></div>
        </div>
      </div>
      <div class="item">
        <div class="fill" style="background-image:url('/assets/images/dogs/mainPage/strider_dock.jpg');">
          <div class="container"></div>
        </div>
      </div>
      <div class="item">
        <div class="fill" style="background-image:url('/assets/images/dogs/mainPage/jasmine_shoulder.jpg');">
          <div class="container"></div>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-main" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-main" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

  {% include analytics/google %}

  {% include footer %}
</body>
</html>
