---
title: Dogs
group: navigation
weight: 2
---

<!DOCTYPE html>
<html lang="en">
{% include header %}
<body>

  {% include navbar %}
  <br><br>
  <div class="container marketing">
    <hr class="featurette-divider">

    <!-- Kismet's Achievements -->
    <div class="modal fade" id="kismet_achievement_popup" tabindex="-1" role="dialog" aria-labelledby="kismet_achievement_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="kismet_achievement_label">Kismet's Achievements</h4>
          </div>
          <div class="modal-body">
            <p>
              Bacon ipsum dolor sit amet boudin strip steak chuck shoulder meatloaf shank sausage chicken turkey pig pork. Pig ribeye ham hock, corned beef pork chop kevin frankfurter prosciutto doner. Drumstick corned beef tongue brisket cow andouille biltong ribeye shankle ball tip meatloaf pork chop. Pork loin flank chicken ribeye capicola andouille short ribs porchetta drumstick. Flank sausage ham ribeye salami pastrami fatback meatloaf rump landjaeger frankfurter short ribs beef pork. Bacon pork loin jowl pig andouille meatloaf chicken jerky. Capicola fatback swine jowl, cow tail landjaeger.
            </p>
            <p>
              Flank boudin venison fatback frankfurter shank. Bacon fatback ribeye tri-tip beef ribs jerky sirloin. Corned beef andouille leberkas beef. Fatback rump venison corned beef, tail pastrami tenderloin shoulder. Biltong tongue meatball pig doner meatloaf chuck ball tip turducken pork belly shankle tail.
            </p>
            <p>
              Ribeye rump prosciutto bresaola. Rump bresaola pork belly, frankfurter chicken kielbasa ham hock pork loin venison strip steak sirloin meatloaf shankle. Landjaeger short loin turducken, pork belly turkey sausage short ribs fatback beef tenderloin drumstick meatloaf. Fatback turkey hamburger drumstick short loin.
            </p>
            <p>
              Andouille brisket doner spare ribs ground round swine short loin kielbasa strip steak pork. Kevin venison drumstick tongue turducken sirloin. Sirloin boudin short ribs shankle pancetta. Tenderloin cow biltong corned beef, filet mignon shank kielbasa pig landjaeger swine turkey.
            </p>
            <p>
              Pork jowl spare ribs, bresaola rump hamburger strip steak shoulder turkey meatball filet mignon pastrami kevin kielbasa. Capicola doner kielbasa hamburger jowl pig ham hock bacon. Flank turkey beef ribs bresaola, kielbasa beef turducken jerky tenderloin. Pork loin drumstick tri-tip, chicken tenderloin corned beef ball tip ham hock prosciutto. Kielbasa biltong ham venison pastrami andouille pork loin meatloaf spare ribs sirloin cow turkey chuck. Shankle tri-tip jowl jerky flank ribeye pancetta corned beef turkey prosciutto fatback. Pork chop rump beef ribs short ribs ball tip pork belly ham bacon meatball.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row featurette">
      <!-- Show on desktop/tablet -->
      <div class="hidden-sm hidden-xs">
        <div class="col-md-7">
          <h2 class="featurette-heading">Kismet's Really Long Name <span class="text-muted">(Kismet)</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <div class="row text-center">
            <a class="btn btn-lg btn-success" href="/dogs/kismet_pedigree.pdf" role="button">Pedigree</a>
            <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#kismet_achievement_popup">Achievements</a>
          </div>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Kismet">
        </div>
      </div>

      <!-- Show on mobile only -->
      <div class="visible-sm visible-xs">
        <div class="container marketing">
          <h2 class="featurette-heading">Kismet's Really Long Name <span class="text-muted">(Kismet)</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <div class="row text-center">
            <img class="featurette-image img-responsive center-block" src="http://placehold.it/500x500" alt="Kismet">
            <br>
            <a class="btn btn-lg btn-success" href="/dogs/kismet_pedigree.pdf" role="button">Pedigree</a>
            <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#kismet_achievement_popup">Achievements</a>
          </div>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- Strider's Achievements -->
    <div class="modal fade" id="strider_achievement_popup" tabindex="-1" role="dialog" aria-labelledby="strider_achievement_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="strider_achievement_label">Strider's Achievements</h4>
          </div>
          <div class="modal-body">
            <p>
              Bacon ipsum dolor sit amet boudin strip steak chuck shoulder meatloaf shank sausage chicken turkey pig pork. Pig ribeye ham hock, corned beef pork chop kevin frankfurter prosciutto doner. Drumstick corned beef tongue brisket cow andouille biltong ribeye shankle ball tip meatloaf pork chop. Pork loin flank chicken ribeye capicola andouille short ribs porchetta drumstick. Flank sausage ham ribeye salami pastrami fatback meatloaf rump landjaeger frankfurter short ribs beef pork. Bacon pork loin jowl pig andouille meatloaf chicken jerky. Capicola fatback swine jowl, cow tail landjaeger.
            </p>
            <p>
              Flank boudin venison fatback frankfurter shank. Bacon fatback ribeye tri-tip beef ribs jerky sirloin. Corned beef andouille leberkas beef. Fatback rump venison corned beef, tail pastrami tenderloin shoulder. Biltong tongue meatball pig doner meatloaf chuck ball tip turducken pork belly shankle tail.
            </p>
            <p>
              Ribeye rump prosciutto bresaola. Rump bresaola pork belly, frankfurter chicken kielbasa ham hock pork loin venison strip steak sirloin meatloaf shankle. Landjaeger short loin turducken, pork belly turkey sausage short ribs fatback beef tenderloin drumstick meatloaf. Fatback turkey hamburger drumstick short loin.
            </p>
            <p>
              Andouille brisket doner spare ribs ground round swine short loin kielbasa strip steak pork. Kevin venison drumstick tongue turducken sirloin. Sirloin boudin short ribs shankle pancetta. Tenderloin cow biltong corned beef, filet mignon shank kielbasa pig landjaeger swine turkey.
            </p>
            <p>
              Pork jowl spare ribs, bresaola rump hamburger strip steak shoulder turkey meatball filet mignon pastrami kevin kielbasa. Capicola doner kielbasa hamburger jowl pig ham hock bacon. Flank turkey beef ribs bresaola, kielbasa beef turducken jerky tenderloin. Pork loin drumstick tri-tip, chicken tenderloin corned beef ball tip ham hock prosciutto. Kielbasa biltong ham venison pastrami andouille pork loin meatloaf spare ribs sirloin cow turkey chuck. Shankle tri-tip jowl jerky flank ribeye pancetta corned beef turkey prosciutto fatback. Pork chop rump beef ribs short ribs ball tip pork belly ham bacon meatball.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row featurette">
      <!-- Show on desktop/tablet -->
      <div class="hidden-sm hidden-xs">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Strider">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Strider's Really Long Name <span class="text-muted">(Strider)</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <div class="row text-center">
            <a class="btn btn-lg btn-success" href="/dogs/strider_pedigree.pdf" role="button">Pedigree</a>
            <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#strider_achievement_popup">Achievements</a>
          </div>
        </div>
      </div>

      <!-- Show on mobile only -->
      <div class="visible-sm visible-xs">
        <div class="container marketing">
          <h2 class="featurette-heading">Strider's Really Long Name <span class="text-muted">(Strider)</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <div class="row text-center">
            <img class="featurette-image img-responsive center-block" src="http://placehold.it/500x500" alt="Strider">
            <br>
            <a class="btn btn-lg btn-success" href="/dogs/strider_pedigree.pdf" role="button">Pedigree</a>
            <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#strider_achievement_popup">Achievements</a>
          </div>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- Onyx's Achievements -->
    <div class="modal fade" id="onyx_achievement_popup" tabindex="-1" role="dialog" aria-labelledby="onyx_achievement_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="onyx_achievement_label">Onyx's Achievements</h4>
          </div>
          <div class="modal-body">
            <p>
              Bacon ipsum dolor sit amet boudin strip steak chuck shoulder meatloaf shank sausage chicken turkey pig pork. Pig ribeye ham hock, corned beef pork chop kevin frankfurter prosciutto doner. Drumstick corned beef tongue brisket cow andouille biltong ribeye shankle ball tip meatloaf pork chop. Pork loin flank chicken ribeye capicola andouille short ribs porchetta drumstick. Flank sausage ham ribeye salami pastrami fatback meatloaf rump landjaeger frankfurter short ribs beef pork. Bacon pork loin jowl pig andouille meatloaf chicken jerky. Capicola fatback swine jowl, cow tail landjaeger.
            </p>
            <p>
              Flank boudin venison fatback frankfurter shank. Bacon fatback ribeye tri-tip beef ribs jerky sirloin. Corned beef andouille leberkas beef. Fatback rump venison corned beef, tail pastrami tenderloin shoulder. Biltong tongue meatball pig doner meatloaf chuck ball tip turducken pork belly shankle tail.
            </p>
            <p>
              Ribeye rump prosciutto bresaola. Rump bresaola pork belly, frankfurter chicken kielbasa ham hock pork loin venison strip steak sirloin meatloaf shankle. Landjaeger short loin turducken, pork belly turkey sausage short ribs fatback beef tenderloin drumstick meatloaf. Fatback turkey hamburger drumstick short loin.
            </p>
            <p>
              Andouille brisket doner spare ribs ground round swine short loin kielbasa strip steak pork. Kevin venison drumstick tongue turducken sirloin. Sirloin boudin short ribs shankle pancetta. Tenderloin cow biltong corned beef, filet mignon shank kielbasa pig landjaeger swine turkey.
            </p>
            <p>
              Pork jowl spare ribs, bresaola rump hamburger strip steak shoulder turkey meatball filet mignon pastrami kevin kielbasa. Capicola doner kielbasa hamburger jowl pig ham hock bacon. Flank turkey beef ribs bresaola, kielbasa beef turducken jerky tenderloin. Pork loin drumstick tri-tip, chicken tenderloin corned beef ball tip ham hock prosciutto. Kielbasa biltong ham venison pastrami andouille pork loin meatloaf spare ribs sirloin cow turkey chuck. Shankle tri-tip jowl jerky flank ribeye pancetta corned beef turkey prosciutto fatback. Pork chop rump beef ribs short ribs ball tip pork belly ham bacon meatball.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row featurette">
      <!-- Show on desktop/tablet -->
      <div class="hidden-sm hidden-xs">
        <div class="col-md-7">
          <h2 class="featurette-heading">Onyx's Really Long Name <span class="text-muted">(Onyx)</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <div class="row text-center">
            <a class="btn btn-lg btn-success" href="/dogs/onyx_pedigree.pdf" role="button">Pedigree</a>
            <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#onyx_achievement_popup">Achievements</a>
          </div>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Onyx">
        </div>
      </div>

      <!-- Show on mobile only -->
      <div class="visible-sm visible-xs">
        <div class="container marketing">
          <h2 class="featurette-heading">Onyx's Really Long Name <span class="text-muted">(Onyx)</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <div class="row text-center">
            <img class="featurette-image img-responsive center-block" src="http://placehold.it/500x500" alt="Onyx">
            <br>
            <a class="btn btn-lg btn-success" href="/dogs/onyx_pedigree.pdf" role="button">Pedigree</a>
            <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#onyx_achievement_popup">Achievements</a>
          </div>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">
    </div>

  {% include analytics/google %}

  {% include footer %}
</body>
</html>
