---
title: Dogs
group: navigation
weight: 2
---

<!DOCTYPE html>
<html lang="en">
{% include header %}
<body>

  {% include navbar %}
  <br><br>
  <div class="container marketing">
    <hr class="featurette-divider">

    <!-- Kismet's Achievements -->
    <div class="modal fade" id="kismet_achievement_popup" tabindex="-1" role="dialog" aria-labelledby="kismet_achievement_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title" id="kismet_achievement_label">Kismet's Achievements</h4>
          </div>
          <div class="modal-body">
            <h3>2014</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-3">Date</th>
                  <th>Award</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>June 15, 2014</td><td>Grand Traverse Kennel Club - Best of Opposite Sex</td></tr>
                <tr><td>June 14, 2014</td><td>Grand Traverse Kennel Club - Best of Breed</td></tr>
                <tr><td>June 13, 2014</td><td>Grand Traverse Kennel Club - Best of Opposite Sex</td></tr>
                <tr><td>June 8, 2014</td><td>Mount Pleasant MI Kennel Club -Select</td></tr>
                <tr><td>June 7, 2014</td><td>Mount Pleasant MI Kennel Club - Best of Opposite Sex</td></tr>
                <tr><td>June 7, 2014</td><td>Mount Pleasant MI Kennel Club - Best of Breed Owner Handled</td></tr>
                <tr><td>June 6, 2014</td><td>Midland MI Kennel Club - Select</td></tr>
                <tr><td>June 5, 2014</td><td>Midland MI Kennel Club - Best of Opposite Sex</td></tr>
                <tr><td>April 27, 2014</td><td>Progressive Dog Club of Wayne County Inc - Best of Opposite Sex</td></tr>
                <tr><td>April 26, 2014</td><td>Progressive Dog Club of Wayne County Inc - Best of Opposite Sex</td></tr>
                <tr><td>January 19, 2014</td><td>Oakland County Kennel Club - Select</td></tr>
                <tr><td>January 18, 2014</td><td>Oakland County Kennel Club - Best of Opposite Sex</td></tr>
                <tr><td>January 17, 2014</td><td>Livonia Kennel Club - Select</td></tr>
                <tr><td>January 17, 2014</td><td>Livonia Kennel Club - Best of Breed Owner Handled</td></tr>
                <tr><td>January 16, 2014</td><td>Livonia Kennel Club - Select</td></tr>
                <tr><td>January 16, 2014</td><td>Livonia Kennel Club - Group 3 Owner Handled</td></tr>
              </tbody>
            </table>
            <h3>2013</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-3">Date</th>
                  <th>Award</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>November 9, 2013</td><td>Kalamazoo Kennel Club - Select</td></tr>
                <tr><td>November 9, 2013</td><td>Kalamazoo Kennel Club - Group 3 Owner Handled</td></tr>
                <tr><td>November 8, 2013</td><td>Greater Muskegon Kennel Club - Select</td></tr>
                <tr><td>November 7, 2013</td><td>Pontiac Kennel Club Inc - Select</td></tr>
                <tr><td>November 7, 2013</td><td>Pontiac Kennel Club Inc - Group 4 Owner Handled</td></tr>
                <tr><td>September 29, 2013</td><td>Monroe Kennel Club Inc - Winners</td></tr>
                <tr><td>September 28, 2013</td><td>Monroe Kennel Club Inc - Best of Winners</td></tr>
                <tr><td>September 28, 2013</td><td>Monroe Kennel Club Inc - Best of Opposite Sex</td></tr>
                <tr><td>September 14, 2013</td><td>St. Clair Kennel Club Inc - Best of Winners</td></tr>
                <tr><td>August 2, 2013</td><td>Jaxon Kennel Club Inc - Reserve Winners</td></tr>
                <tr><td>May 26, 2013</td><td>Received Rally Novice Title</td></tr>
                <tr><td>May 25, 2013</td><td>Grand Rapids Kennel Club - Highest Scoring Newfoundland in Novice B</td></tr>
                <tr><td>April 3, 2013</td><td>Newfoundland Nationals - Third Place in American Bred</td></tr>
              </tbody>
            </table>
            <h3>2012</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-3">Date</th>
                  <th>Award</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>February 29, 2012</td><td>Earned AKC S.T.A.R Puppy</td></tr>
                <tr><td>April 29, 2012</td><td>Progressive Dog Club of Wayne County - Best of Breed (with Champion Competition)</td></tr>
                <tr><td>April 28, 2012</td><td>Progressive Dog Club of Wayne County - Best of Breed (with Champion Competition)</td></tr>
                <tr><td>May 26, 2012</td><td>Grand Rapids Kennel Club - Best in Sweepstakes</td></tr>
                <tr><td>November 8, 2012</td><td>Pontiac Kennel Club - Reserve Winners</td></tr>
                <tr><td>December 2, 2012</td><td>Ingham County Kennel Club - Reserve Winners</td></tr>
                <tr><td>December 1, 2012</td><td>Ingham County Kennel Club - Best of Opposite Sex</td></tr>
                <tr><td>December 1, 2014</td><td>Ingham County Kennel Club - Best of Breed Owner Handler</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row featurette">
      <!-- Show on desktop/tablet -->
      <div class="hidden-sm hidden-xs">
        <div class="col-md-7">
          <h2 class="featurette-heading">Ch. Turftide's Meant To Be B.I.G., RN <span class="text-muted">(Kismet)</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <div class="row text-center">
            <a class="btn btn-lg btn-success" href="/dogs/kismet_pedigree.pdf" role="button">Pedigree</a>
            <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#kismet_achievement_popup">Achievements</a>
          </div>
        </div>
        <div class="col-md-5">
          <div id="kismet_photo_carousel1" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs/kismet-grand-ch.jpg" alt="Kismet">
              </div>
                <div class="carousel-caption">
                </div>
              </div>
              <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs/kismet-opposite.jpg" alt="Kismet">
              </div>
              <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs/kismet-sweepstakes.jpg" alt="Kismet">
              </div>
              <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs/kismet.jpg" alt="Kismet">
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#kismet_photo_carousel1" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#kismet_photo_carousel1" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>

      <!-- Show on mobile only -->
      <div class="visible-sm visible-xs">
        <div class="container marketing">
          <h2 class="featurette-heading">Ch. Turftide's Meant To Be B.I.G., RN <span class="text-muted">(Kismet)</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <div class="row text-center">
            <div id="kismet_photo_carousel2" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <div class="item">
                  <img class="featurette-image img-responsive" src="/assets/images/dogs/kismet-grand-ch.jpg" alt="Kismet">
                </div>
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="item">
                  <img class="featurette-image img-responsive" src="/assets/images/dogs/kismet-opposite.jpg" alt="Kismet">
                </div>
                <div class="item">
                  <img class="featurette-image img-responsive" src="/assets/images/dogs/kismet-sweepstakes.jpg" alt="Kismet">
                </div>
                <div class="item">
                  <img class="featurette-image img-responsive" src="/assets/images/dogs/kismet.jpg" alt="Kismet">
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#kismet_photo_carousel2" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#kismet_photo_carousel2" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
            <br>
            <a class="btn btn-lg btn-success" href="/dogs/kismet_pedigree.pdf" role="button">Pedigree</a>
            <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#kismet_achievement_popup">Achievements</a>
          </div>
        </div>
      </div>
    </div>

   <hr class="featurette-divider">

    <!-- Strider's Achievements -->
    <div class="modal fade" id="strider_achievement_popup" tabindex="-1" role="dialog" aria-labelledby="strider_achievement_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="strider_achievement_label">Strider's Achievements</h4>
          </div>
          <div class="modal-body">
            <p>
              Bacon ipsum dolor sit amet boudin strip steak chuck shoulder meatloaf shank sausage chicken turkey pig pork. Pig ribeye ham hock, corned beef pork chop kevin frankfurter prosciutto doner. Drumstick corned beef tongue brisket cow andouille biltong ribeye shankle ball tip meatloaf pork chop. Pork loin flank chicken ribeye capicola andouille short ribs porchetta drumstick. Flank sausage ham ribeye salami pastrami fatback meatloaf rump landjaeger frankfurter short ribs beef pork. Bacon pork loin jowl pig andouille meatloaf chicken jerky. Capicola fatback swine jowl, cow tail landjaeger.
            </p>
            <p>
              Flank boudin venison fatback frankfurter shank. Bacon fatback ribeye tri-tip beef ribs jerky sirloin. Corned beef andouille leberkas beef. Fatback rump venison corned beef, tail pastrami tenderloin shoulder. Biltong tongue meatball pig doner meatloaf chuck ball tip turducken pork belly shankle tail.
            </p>
            <p>
              Ribeye rump prosciutto bresaola. Rump bresaola pork belly, frankfurter chicken kielbasa ham hock pork loin venison strip steak sirloin meatloaf shankle. Landjaeger short loin turducken, pork belly turkey sausage short ribs fatback beef tenderloin drumstick meatloaf. Fatback turkey hamburger drumstick short loin.
            </p>
            <p>
              Andouille brisket doner spare ribs ground round swine short loin kielbasa strip steak pork. Kevin venison drumstick tongue turducken sirloin. Sirloin boudin short ribs shankle pancetta. Tenderloin cow biltong corned beef, filet mignon shank kielbasa pig landjaeger swine turkey.
            </p>
            <p>
              Pork jowl spare ribs, bresaola rump hamburger strip steak shoulder turkey meatball filet mignon pastrami kevin kielbasa. Capicola doner kielbasa hamburger jowl pig ham hock bacon. Flank turkey beef ribs bresaola, kielbasa beef turducken jerky tenderloin. Pork loin drumstick tri-tip, chicken tenderloin corned beef ball tip ham hock prosciutto. Kielbasa biltong ham venison pastrami andouille pork loin meatloaf spare ribs sirloin cow turkey chuck. Shankle tri-tip jowl jerky flank ribeye pancetta corned beef turkey prosciutto fatback. Pork chop rump beef ribs short ribs ball tip pork belly ham bacon meatball.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row featurette">
      <!-- Show on desktop/tablet -->
      <div class="hidden-sm hidden-xs">
        <div class="col-md-5">
          <div id="strider_photo_carousel1" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="item">
                <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Kismet">
              </div>
                <div class="carousel-caption">
                </div>
              </div>
              <div class="item">
                <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Kismet">
              </div>
              <div class="item">
                <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Kismet">
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#strider_photo_carousel1" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#strider_photo_carousel1" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Holokai Umi One Thousand And One Nights at Trillium <span class="text-muted">(Jasmine)</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <div class="row text-center">
            <a class="btn btn-lg btn-success" href="/dogs/strider_pedigree.pdf" role="button">Pedigree</a>
            <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#strider_achievement_popup">Achievements</a>
          </div>
        </div>
      </div>

      <!-- Show on mobile only -->
      <div class="visible-sm visible-xs">
        <div class="container marketing">
          <h2 class="featurette-heading">Holokai Umi One Thousand And One Nights at Trillium<span class="text-muted">(Jasmine)</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <div class="row text-center">
            <div id="strider_photo_carousel2" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <div class="item">
                  <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Strider">
                </div>
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="item">
                  <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Strider">
                </div>
                <div class="item">
                  <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Strider">
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#strider_photo_carousel2" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#strider_photo_carousel2" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
            <br>
            <a class="btn btn-lg btn-success" href="/dogs/strider_pedigree.pdf" role="button">Pedigree</a>
            <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#strider_achievement_popup">Achievements</a>
          </div>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- Onyx's Achievements -->
    <div class="modal fade" id="onyx_achievement_popup" tabindex="-1" role="dialog" aria-labelledby="onyx_achievement_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="onyx_achievement_label">Onyx's Achievements</h4>
          </div>
          <div class="modal-body">
            <p>
              Bacon ipsum dolor sit amet boudin strip steak chuck shoulder meatloaf shank sausage chicken turkey pig pork. Pig ribeye ham hock, corned beef pork chop kevin frankfurter prosciutto doner. Drumstick corned beef tongue brisket cow andouille biltong ribeye shankle ball tip meatloaf pork chop. Pork loin flank chicken ribeye capicola andouille short ribs porchetta drumstick. Flank sausage ham ribeye salami pastrami fatback meatloaf rump landjaeger frankfurter short ribs beef pork. Bacon pork loin jowl pig andouille meatloaf chicken jerky. Capicola fatback swine jowl, cow tail landjaeger.
            </p>
            <p>
              Flank boudin venison fatback frankfurter shank. Bacon fatback ribeye tri-tip beef ribs jerky sirloin. Corned beef andouille leberkas beef. Fatback rump venison corned beef, tail pastrami tenderloin shoulder. Biltong tongue meatball pig doner meatloaf chuck ball tip turducken pork belly shankle tail.
            </p>
            <p>
              Ribeye rump prosciutto bresaola. Rump bresaola pork belly, frankfurter chicken kielbasa ham hock pork loin venison strip steak sirloin meatloaf shankle. Landjaeger short loin turducken, pork belly turkey sausage short ribs fatback beef tenderloin drumstick meatloaf. Fatback turkey hamburger drumstick short loin.
            </p>
            <p>
              Andouille brisket doner spare ribs ground round swine short loin kielbasa strip steak pork. Kevin venison drumstick tongue turducken sirloin. Sirloin boudin short ribs shankle pancetta. Tenderloin cow biltong corned beef, filet mignon shank kielbasa pig landjaeger swine turkey.
            </p>
            <p>
              Pork jowl spare ribs, bresaola rump hamburger strip steak shoulder turkey meatball filet mignon pastrami kevin kielbasa. Capicola doner kielbasa hamburger jowl pig ham hock bacon. Flank turkey beef ribs bresaola, kielbasa beef turducken jerky tenderloin. Pork loin drumstick tri-tip, chicken tenderloin corned beef ball tip ham hock prosciutto. Kielbasa biltong ham venison pastrami andouille pork loin meatloaf spare ribs sirloin cow turkey chuck. Shankle tri-tip jowl jerky flank ribeye pancetta corned beef turkey prosciutto fatback. Pork chop rump beef ribs short ribs ball tip pork belly ham bacon meatball.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row featurette">
      <!-- Show on desktop/tablet -->
      <div class="hidden-sm hidden-xs">

        <div class="col-md-7">
          <h2 class="featurette-heading">Ch. B.I.G.'s Taking It All In Stride, RN, DD, CD, WD <span class="text-muted">(Strider)</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <div class="row text-center">
            <a class="btn btn-lg btn-success" href="/dogs/onyx_pedigree.pdf" role="button">Pedigree</a>
            <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#onyx_achievement_popup">Achievements</a>
          </div>
        </div>
        <div class="col-md-5">
          <div id="onyx_photo_carousel1" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="item">
                <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Onyx">
              </div>
                <div class="carousel-caption">
                </div>
              </div>
              <div class="item">
                <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Onyx">
              </div>
              <div class="item">
                <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Onyx">
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#onyx_photo_carousel1" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#onyx_photo_carousel1" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">HickoryRidge's Onyx, DD</h2> <span class="text-muted">(Onyx)</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <div class="row text-center">
            <a class="btn btn-lg btn-success" href="/dogs/onyx_pedigree.pdf" role="button">Pedigree</a>
            <a class="btn btn-lg btn-success" href="/dogs/onyx_health.pdf" role="button">Health Certifications</a>
          </div>
        </div>

      </div>

      <!-- Show on mobile only -->
      <div class="visible-sm visible-xs">
        <div class="container marketing">
          <h2 class="featurette-heading">HickoryRidge's Onyx <span class="text-muted">(Onyx)</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <div class="row text-center">
            <div id="onyx_photo_carousel2" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <div class="item">
                  <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Onyx">
                </div>
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="item">
                  <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Onyx">
                </div>
                <div class="item">
                  <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Onyx">
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#onyx_photo_carousel2" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#onyx_photo_carousel2" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
            <br>
            <a class="btn btn-lg btn-success" href="/dogs/onyx_pedigree.pdf" role="button">Pedigree</a>
            <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#onyx_achievement_popup">Achievements</a>
          </div>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">
    </div>

  {% include analytics/google %}

  {% include footer %}
</body>
</html>
