---
title: Dogs
group: navigation
weight: 2
---

<!DOCTYPE html>
<html lang="en">
{% include header %}
<body>

  {% include navbar %}
  <br><br>
  <div class="container marketing">
    <hr class="featurette-divider">

    <!-- Kismet's Achievements -->
    <div class="modal fade" id="kismet_achievement_popup" tabindex="-1" role="dialog" aria-labelledby="kismet_achievement_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title" id="kismet_achievement_label">Kismet's Achievements</h4>
          </div>
          <div class="modal-body">
            <h3>2014</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-3">Date</th>
                  <th>Award</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>2014</td><td>Number 6 Owner Handled Newfoundland in the US</td></tr>
                <tr><td>November 9, 2014</td><td>Pontiac Kennel Club - Best of Breed Owner Handled</td></tr>
                <tr><td>November 9, 2014</td><td>Pontiac Kennel Club - Best of Opposite</td></tr>
                <tr><td>November 8, 2014</td><td>Pontiac Kennel Club - Group 3 Owner Handled</td></tr>
                <tr><td>November 8, 2014</td><td>Pontiac Kennel Club - Best of Breed Owner Handled</td></tr>
                <tr><td>November 8, 2014</td><td>Pontiac Kennel Club - Best of Opposite</td></tr>
                <tr><td>November 7, 2014</td><td>Pontiac Kennel Club - Select</td></tr>
                <tr><td>November 6, 2014</td><td>Pontiac Kennel Club - Best of Opposite Sex</td></tr>
                <tr><td>June 15, 2014</td><td>Grand Traverse Kennel Club - Best of Opposite Sex</td></tr>
                <tr><td>June 14, 2014</td><td>Grand Traverse Kennel Club - Best of Breed</td></tr>
                <tr><td>June 13, 2014</td><td>Grand Traverse Kennel Club - Best of Opposite Sex</td></tr>
                <tr><td>June 8, 2014</td><td>Mount Pleasant MI Kennel Club -Select</td></tr>
                <tr><td>June 7, 2014</td><td>Mount Pleasant MI Kennel Club - Best of Opposite Sex</td></tr>
                <tr><td>June 7, 2014</td><td>Mount Pleasant MI Kennel Club - Best of Breed Owner Handled</td></tr>
                <tr><td>June 6, 2014</td><td>Midland MI Kennel Club - Select</td></tr>
                <tr><td>June 5, 2014</td><td>Midland MI Kennel Club - Best of Opposite Sex</td></tr>
                <tr><td>April 27, 2014</td><td>Progressive Dog Club of Wayne County Inc - Best of Opposite Sex</td></tr>
                <tr><td>April 26, 2014</td><td>Progressive Dog Club of Wayne County Inc - Best of Opposite Sex</td></tr>
                <tr><td>January 19, 2014</td><td>Oakland County Kennel Club - Select</td></tr>
                <tr><td>January 18, 2014</td><td>Oakland County Kennel Club - Best of Opposite Sex</td></tr>
                <tr><td>January 17, 2014</td><td>Livonia Kennel Club - Select</td></tr>
                <tr><td>January 17, 2014</td><td>Livonia Kennel Club - Best of Breed Owner Handled</td></tr>
                <tr><td>January 16, 2014</td><td>Livonia Kennel Club - Select</td></tr>
                <tr><td>January 16, 2014</td><td>Livonia Kennel Club - Group 3 Owner Handled</td></tr>
              </tbody>
            </table>
            <h3>2013</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-3">Date</th>
                  <th>Award</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>November 9, 2013</td><td>Kalamazoo Kennel Club - Select</td></tr>
                <tr><td>November 9, 2013</td><td>Kalamazoo Kennel Club - Group 3 Owner Handled</td></tr>
                <tr><td>November 8, 2013</td><td>Greater Muskegon Kennel Club - Select</td></tr>
                <tr><td>November 7, 2013</td><td>Pontiac Kennel Club Inc - Select</td></tr>
                <tr><td>November 7, 2013</td><td>Pontiac Kennel Club Inc - Group 4 Owner Handled</td></tr>
                <tr><td>September 29, 2013</td><td>Monroe Kennel Club Inc - Winners</td></tr>
                <tr><td>September 28, 2013</td><td>Monroe Kennel Club Inc - Best of Winners</td></tr>
                <tr><td>September 28, 2013</td><td>Monroe Kennel Club Inc - Best of Opposite Sex</td></tr>
                <tr><td>September 14, 2013</td><td>St. Clair Kennel Club Inc - Best of Winners</td></tr>
                <tr><td>August 2, 2013</td><td>Jaxon Kennel Club Inc - Reserve Winners</td></tr>
                <tr><td>May 26, 2013</td><td>Received Rally Novice Title</td></tr>
                <tr><td>May 25, 2013</td><td>Grand Rapids Kennel Club - Highest Scoring Newfoundland in Novice B</td></tr>
                <tr><td>April 3, 2013</td><td>Newfoundland Nationals - Third Place in American Bred</td></tr>
              </tbody>
            </table>
            <h3>2012</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-3">Date</th>
                  <th>Award</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>February 29, 2012</td><td>Earned AKC S.T.A.R Puppy</td></tr>
                <tr><td>April 29, 2012</td><td>Progressive Dog Club of Wayne County - Best of Breed (with Champion Competition)</td></tr>
                <tr><td>April 28, 2012</td><td>Progressive Dog Club of Wayne County - Best of Breed (with Champion Competition)</td></tr>
                <tr><td>May 26, 2012</td><td>Grand Rapids Kennel Club - Best in Sweepstakes</td></tr>
                <tr><td>November 8, 2012</td><td>Pontiac Kennel Club - Reserve Winners</td></tr>
                <tr><td>December 2, 2012</td><td>Ingham County Kennel Club - Reserve Winners</td></tr>
                <tr><td>December 1, 2012</td><td>Ingham County Kennel Club - Best of Opposite Sex</td></tr>
                <tr><td>December 1, 2014</td><td>Ingham County Kennel Club - Best of Breed Owner Handler</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Kismet pedigree -->
    <div class="modal fade" id="kismet_pedigree_popup" tabindex="-1" role="dialog" aria-labelledby="kismet_pedigree_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-body">            
          <button type="button" class="invisible" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="modal-body">
            <img src = "/assets/pedigrees/kismet.jpg"/>
          </div>
        </div>
      </div>
    </div>

    <!-- Kismet about/photos -->
    <div class="row featurette">
      <!-- Show on desktop/tablet -->
      <div class="hidden-sm hidden-xs">
        <div class="col-md-12 text-center">
          <h2 class="featurette-heading">Ch. Turftide's Meant To Be B.I.G., RN <span class="text-muted">(Kismet)</span></h2>
          <p></p>
          <p class="lead"></p>
        </div>
        <div class="col-md-6 col-md-offset-3">
        <br>
          <div id="kismet_photo_carousel1" class="carousel slide heightlock" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs//kismet/kismet-grand-ch.jpg" alt="Kismet">
              </div>
                <div class="carousel-caption">
                </div>
              </div>
              <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs/kismet/kismet-opposite.jpg" alt="Kismet">
              </div>
              <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs/kismet/kismet_snow2.jpg" alt="Kismet">
              </div>
              <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs/kismet/kismet-sweepstakes.jpg" alt="Kismet">
              </div>
              <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs/kismet/kismet_snow1.jpg" alt="Kismet">
              </div>
              <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs/kismet/kismet_national.jpg" alt="Kismet">
              </div>
              <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs/kismet/kismet_kalamazoo_2014.jpg" alt="Kismet">
              </div>
              <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs/kismet/kismet_snow3.jpg" alt="Kismet">
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#kismet_photo_carousel1" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#kismet_photo_carousel1" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>

        <div class = "col-md-12 text-centered">
          <div class="row text-center">
            <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#kismet_pedigree_popup">Pedigree</a>
            <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#kismet_achievement_popup">Achievements</a>
          </div>
          </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- Jasmine's Achievements -->
    <div class="modal fade" id="jasmine_achievement_popup" tabindex="-1" role="dialog" aria-labelledby="jasmine_achievement_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="jasmine_achievement_label">Jasmine's Achievements</h4>
          </div>
          <div class="modal-body">
            <h3>2014</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-3">Date</th>
                  <th>Award</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>December 16, 2014</td><td>Jasmine joined the family.  She has joined puppy class and is a star pupil.  We love how put together this girl is: large boned with a beautiful head, balanced movement, and an excellent newfie temperment.  She's a quick learner at housbreaking, sit, and down.  We can't wait to siee what the future brings for this girl.</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Jasmine's pedigree -->
    <div class="modal fade" id="jasmine_pedigree_popup" tabindex="-1" role="dialog" aria-labelledby="jasmine_pedigree_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-body">            
          <button type="button" class="invisible" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="modal-body">
            <img src = "/assets/pedigrees/jasmine.jpg"/>
          </div>
        </div>
      </div>
    </div>

    <!-- Jasmine about/photos -->
    <div class="row featurette">
      <!-- Show on desktop/tablet -->
      <div class="hidden-sm hidden-xs">
        <div class="col-md-12 text-center">
          <h2 class="featurette-heading">Holokai Umi's One Thousand And One Nights at Trillium <span class="text-muted">(Jasmine)</span></h2>
          <p></p>
          <p class="lead"></p>
        </div>
        <div class="col-md-6 col-md-offset-3">
        <br>
          <div id="jasmine_photo_carousel1" class="carousel slide heightlock" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs/jasmine/jasmine.jpg" alt="Jasmine">
              </div>
                <div class="carousel-caption">
                </div>
              </div>
              <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs/jasmine/jasmine_josh.jpg" alt="Jasmine">
              </div>
              <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs/jasmine/jasmine_present.jpg" alt="Jasmine">
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#jasmine_photo_carousel1" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#jasmine_photo_carousel1" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>

        <div class = "col-md-12 text-centered">
          <div class="row text-center">
            <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#jasmine_pedigree_popup">Pedigree</a>
            <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#jasmine_achievement_popup">Achievements</a>
          </div>
          </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- Strider's Achievements -->
    <div class="modal fade" id="strider_achievement_popup" tabindex="-1" role="dialog" aria-labelledby="strider_achievement_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title" id="strider_achievement_label">In Memory of Strider</h4>
          </div>
          <div class="modal-body">
            <h5>2004 - 2013</h5>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-3"></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>This boy was sure of his job: helping people.  This could mean carrying buckets and tarps while we did yard work, or carrying in the mail, groceries, or whatever you would give him (he loved to carry things).  He was my shadow all the time and you never had to ask for his help.  He would see what you were doing and just figure out what he could do to help.  This willingness to please is why he had so many titles.  I would love to say it was my great training (though I did learn with him), but it was really because, for the most part, he could read my mind and just did the exercises once I asked.  He had the ideal working newf personality.</tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Strider's pedigree -->
    <div class="modal fade" id="strider_pedigree_popup" tabindex="-1" role="dialog" aria-labelledby="strider_pedigree_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-body">            
          <button type="button" class="invisible" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="modal-body">
            <img src = "/assets/pedigrees/strider.jpg"/>
          </div>
        </div>
      </div>
    </div>

    <!-- Strider about/photos -->
    <div class="row featurette">
      <!-- Show on desktop/tablet -->
      <div class="hidden-sm hidden-xs">
        <div class="col-md-12 text-center">
          <h2 class="featurette-heading">Ch. B.I.G.'s Taking It All In Stride, RN, DD, CD, WD <span class="text-muted">(Strider)</span></h2>
          <p></p>
          <p class="lead"></p>
        </div>
        <div class="col-md-6 col-md-offset-3">
        <br>
          <div id="strider_photo_carousel1" class="carousel slide heightlock" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs/strider/strider_at_rest.jpg" alt="Strider">
              </div>
                <div class="carousel-caption">
                </div>
              </div>
              <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs/strider/strider_BB_BIS.jpg" alt="Strider">
              </div>
              <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs/strider/strider_ferns.jpg" alt="Strider">
              </div>
              <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs/strider/strider_show.jpg" alt="Strider">
              </div>
              <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs/strider/strider_jumping.jpg" alt="Strider">
              </div>
              <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs/strider/strider_show2.jpg" alt="Strider">
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#strider_photo_carousel1" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#strider_photo_carousel1" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>

        <div class = "col-md-12 text-centered">
          <div class="row text-center">
            <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#strider_pedigree_popup">Pedigree</a>
            <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#strider_achievement_popup">Achievements</a>
          </div>
          </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- Onyx's Achievements -->
    <div class="modal fade" id="onyx_achievement_popup" tabindex="-1" role="dialog" aria-labelledby="strider_achievement_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title" id="onyx_achievement_label">In Memory of Onyx</h4>
          </div>
          <div class="modal-body">
            <h5>1999- 2010</h5>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-3"></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>We lived with Onyx for eleven years.  Her only official title was Draft Dog, but she taught us many valuable things.  She was sure it was her job to watch over our girls as well as any child that set foot in our yard.  She was a wonderful mother who produced eight beautiful puppies.  She taught us what it is like to be loved by a Newfoundland and we are forever changed because of her.</tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Onyx's pedigree -->
    <div class="modal fade" id="onyx_pedigree_popup" tabindex="-1" role="dialog" aria-labelledby="onyx_pedigree_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-body">            
          <button type="button" class="invisible" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="modal-body">
            <img src = "/assets/pedigrees/onyx.jpg"/>
          </div>
        </div>
      </div>
    </div>

    <!-- Onyx about/photos -->
    <div class="row featurette">
      <!-- Show on desktop/tablet -->
      <div class="hidden-sm hidden-xs">
        <div class="col-md-12 text-center">
          <h2 class="featurette-heading">HickoryRidge's Onyx <span class="text-muted">(Onyx)</span></h2>
          <p></p>
          <p class="lead"></p>
        </div>
        <div class="col-md-6 col-md-offset-3">
        <br>
          <div id="onyx_photo_carousel1" class="carousel slide heightlock" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs/onyx/onyx_show.jpg" alt="Onyx">
              </div>
                <div class="carousel-caption">
                </div>
              </div>
              <div class="item">
                <img class="featurette-image img-responsive" src="/assets/images/dogs/onyx/onyx2.jpg" alt="Onyx">
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#onyx_photo_carousel1" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#onyx_photo_carousel1" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>

        <div class = "col-md-12 text-centered">
          <div class="row text-center">
            <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#onyx_pedigree_popup">Pedigree</a>
            <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#onyx_achievement_popup">Achievements</a>
          </div>
          </div>
      </div>
    </div>

    <hr class="featurette-divider">
  </div>

  {% include analytics/google %}

  {% include footer %}
</body>
</html>
