---
title: Contact
group: navigation
weight: 5
---

<!DOCTYPE html>
<html lang="en">
{% include header %}
<body>

  {% include navbar %}
  <br></br>

    <div class="container marketing">
    <hr class="featurette-divider">

<!-- Main jumbotron for a primary marketing message or call to action -->

  <div class="container">
    <h2>Contact</h2>
    <br>
      <p>If you would like more information, email Cindy at <a href="mailto:cindy@trilliumnewfs.com">cindy@trilliumnewfs.com</a> or call at 231-740-1745.</p>
  </div>
</div>

<!-- /container -->

  {% include footer %}
</body>
</html>
