---
title: Litters
group: navigation
weight: 3
---

<!DOCTYPE html>
<html lang="en">
{% include header %}
<body>

  {% include navbar %}
	<br><br>

 	<div class="container marketing">
 	<hr class="featurette-divider">

	<div class="container">
 		<h2>Litters</h2>
	    <br>
    	<p>We are Expecting!  Jasmine x Winslow litter due at the end of February 2017! 
			</p><br>
			<p>Ch. Holokai Umi A Thousand and One Nights At Trillium (Jasmine) x MBISS GCHS VN TurfTides Breezing Up At Bear N Mind CD, DD1, WRD3, WD, RN, RA, RE, CGC, CGCA, TDI (Winslow)
			</p><br>
			<p>If you are interested in one of our litters, please fill out a puppy questionnaire.
			</p>
	</div>

  {% include analytics/google %}

</body>

</html>
