---
title: Litters
group: navigation
weight: 3
---

<!DOCTYPE html>
<html lang="en">
{% include header %}
<body>

    {% include navbar %}
    <br><br>

    <div class="container marketing">
    <hr class="featurette-divider">

    <div class="container">
        <h2>Litters</h2>
        <br>
        <p>Jasmine (Ch Holokai Umi A Thousand and One Nights at Trillium) and Owen (Ch Snowhaven's Kilyka Empower's Amity) are expecting a litter on February 12, 2018.</p>
        <br>
        <p>Please fill out a <a href="/questionnaire">puppy questionnaire</a> if you are interested in one of our litters and we will get back to you.</p>
    </div>

</body>

</html>
