---
title: Litters
group: navigation
weight: 3
---

<!DOCTYPE html>
<html lang="en">
{% include header %}
<body>

    {% include navbar %}
    <br><br>

    <div class="container marketing">
    <hr class="featurette-divider">

    <div class="container">
        <h2>Litters</h2>
        <br>
        <p>We are planning to breed Jasmine Winter 2018, and Phoebe Summer 2018.</p>
        <br>
        <p>Please fill out a puppy questionnaire if you are interested in one of our litters and we will get back to you.</p>
    </div>

</body>

</html>
