---
title: About Us
group: navigation
weight: 1
---

<!DOCTYPE html>
<html lang="en">
{% include header %}
<body>

  {% include navbar %}
  <br></br>

    <div class="container marketing">
    <hr class="featurette-divider">

<!-- Main jumbotron for a primary marketing message or call to action -->

  <div class="container">
    <h2>About Us</h2>
    <br>
      <p>Trillium Newfoundlands is a family collaboration between mother, daughters, and our husbands. Our goal is to maintain our dogs as family pets, as well as breeding, conformation, and working dogs. Spreading our dogs between three households enables us to accomplish this. Originally, B.I.G. was my kennel name. Now that my children have joined in, we all felt Trillium is a more appropriate name.</p><br>
      <p>In 1999 we purchased our first Newfoundland, Hickory Ridge's Onyx DD. She was a patient, kind teacher who taught us much about the breed. We tried our hand at conformation, draft work, and obedience. She successfully earned her Draft title. In 2002 we decided to breed our first litter. In her lifetime, she produced eight puppies. Two of these puppies were placed in show homes: our own Ch. B.I.G.'s Taking It all In Stride CD RN WD DD, and VN Ch. Brio's Life of Riley CD RN WRD DD. One puppy became very well known for his work in local hospitals for his therapy work. All are greatly loved by their families.</p><br>
	   <p>During these years, we learned much about health, grooming, handling, and training Newfs for various competitions. We are active in the Great Lakes Newfoundland Club and are members of the Newfoundland Club of America. In 2011 we acquired Ch. Turftide's Meant To Be B.I.G, RN. She has been a wonderful addition to our family and always keeps us on our toes. She is a fabulous example of the Newfoundland breed both structurally and in temperament. Our dogs are health tested and breedings are thoroughly researched.</p><br>
     <p>December 2014, Josh and Stephanie welcomed Holokai Umi A Thousand And One Nights at Trillium (Jasmine). She is a fun loving, smart puppy with a wonderful natural working ability. We are very proud of how she has done in her first show and look forward to getting her out into the ring again.</p><br>
  </div>
</div>

<!-- /container -->

  {% include analytics/google %}

  {% include footer %}
</body>
</html>
