---
title: About Us
group: navigation
weight: 1
---

<!DOCTYPE html>
<html lang="en">
{% include header %}
<body>

  {% include navbar %}
  <br></br>

    <div class="container marketing">
    <hr class="featurette-divider">

  <div class="container">
    <h2>About Us</h2>
    <p>Trillium Newfoundlands is a family collaboration between me, my daughters, and our husbands.  We are located in Whitehall, Michigan. Our goal is to maintain our dogs as family pets, as well as breeding, conformation, and working dogs. We spread our dogs between three households, which enables us to accomplish this goal. Originally, B.I.G. was my kennel name. Now that my children have joined me, we felt Trillium is a more appropriate name.
    </p><br>
    <p>In 1999 we purchased our first Newfoundland, Hickory Ridge's Onyx DD. She was a patient, kind teacher who taught us much about the breed. We tried our hand at conformation, draft work, and obedience. She successfully earned her Draft title. In 2002 we decided to breed our first litter. In her lifetime, she produced eight puppies. Two of these puppies were placed in show homes: our own Ch. B.I.G.'s Taking It all In Stride CD RN WD DD, and VN Ch. Brio's Life of Riley CD RN WRD DD. One puppy became very well known for his work in local hospitals for his therapy work. All are greatly loved by their families.
    </p><br>
    <p>In 2011 we acquired GCh. Turftide's Meant To Be B.I.G, RN DD CD WD. She has been a wonderful addition to our family and always keeps us on our toes. She is a fabulous example of the Newfoundland breed both structurally and in temperament. Kismet has succeeded in both the conformation ring and in working events.  In 2015, Kismet won Select at the National Specialty and a Best In Show Owner Handled.  In Spring 2016, she was honored to be in the Top 10 Obedience Newfoundlands at the National Specialty.
    </p><br>
    <p>In December 2014, Josh and Stephanie welcomed Holokai Umi A Thousand And One Nights at Trillium (Jasmine). She is a fun loving, smart girl with a wonderful natural working ability. She has done very well in her show career so far, winning Best Puppy in Show as a baby and then went on to win the American Bred class at the National Specialty in 2016.  Now finished with her Chamipionship, she has a bright future ahead of her in the show ring and beyond.
    </p><br>
    <p>Phoebe (Mtn High and Trillium's It's All About Friends) joined our family in 2016. Happiness and fun radiate from this girl. Phoebe tends to do everything at 200% and her experience in the show ring has been no exception.  Her first time out she won Best Beginner Puppy in Show, and she finished with three majors and very limited showing. Phoebe participated in the GLNC water test this summer and proved that she has the water work gene.  While she did not get her title, she wowed the crowd with her desire to work and her huge water drive.  We are excited to watch Phoebe mature into a beautiful show and working dog.
    </p><br>
    <p>
    Pink (Trillium's Pink at First Sight) entered the family in 2017.  Pink is a happy puppy, who enjoys life to the fullest.  She is confident and is happy to work.  Pink is as smart as they come.  By 10 weeks, she knew how to hold a show stack for a minute and could predictably do sit, down, come AND was potty trained!  Currently, Pink is learning the ropes of the show ring and is practicing her obedience work.  We love how this girl is put together, and expect to have lots of fun in the show ring with her.
    </p></div>
    <p>During these years, we learned much about health, grooming, handling, and training Newfs for various competitions. We are active in the Great Lakes Newfoundland Club and are members of the Newfoundland Club of America. Our dogs are health tested and breedings are thoroughly researched.
    </p>
  </div>
</div>

<!-- /container -->
  {% include footer %}
</body>
</html>
