.heightlock {
	display: block;
	height: 500px;
	max-width:100%: auto;
	background-size: auto;
}

.carousel-control.left , .carousel-control.right{

  background-image: none;
  
}
.navbuttons {
	padding: 13px;
	font-size: 15px;
}

.navheight{
	height: 72px;
}

.centertxt {
	text-align: center;
}

.center {
	padding: 2px;
}