.heightlock {
	height: 500px;
	width: auto;
}

.carousel-control {
  &.left, &.right {
    background-image: none !important;
  }
}
.navbuttons {
	padding: 13px;
	font-size: 15px;
}

.navheight{
	height: 72px;
}
